
:root {
    /* color of the whole page */
    --color-background: hsl(60, 3%, 81%);
    /* color of text elements */
    --color-foreground: black;
}

@font-face {
  font-family: 'Roboto'; /* Custom name for the font */
  src: url(user-fonts/Roboto-VariableFont_wdth,wght.ttf) format('truetype');
  font-weight: 100 900; /* Defines the weight range available */
  font-display: swap; /* Improves web performance */
}

body {
    color: rgb(255, 255, 255); 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


#single-stream-idea {
    font-size: 18px;
    line-height: 1.5;
}


  .text-container {
    position: fixed; /* Keeps the text fixed on the viewport */
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 3rem;
    margin-right: 4rem;
    margin-top: 4rem;
    max-width: 35rem;
  }

.headerspace{
    letter-spacing: 1px;
}

.paragraphspace{
    letter-spacing: 1px;
}

.underline{
    text-decoration: underline;
}

.bold{
    font-weight:450;
}

.opposite-text {
    mix-blend-mode: difference;
  }

  .clean-link {
    color: inherit; /* Uses the surrounding text color */
    text-decoration: underline; /* Keeps the underline */
}

  /*

  .image-container {
    height: 520%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .image-section {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  .image-section:nth-child(1) {
    background-image: url('user-images/initial-exposure-cover-art.jpg');
  }

  .image-section:nth-child(2) {
    background-image: url('user-images/pt-t63-health-cover.jpg');
  }

  .image-section:nth-child(3) {
    background-image: url('user-images/drawing-lines.png');
  }

/*