<head>
    <title>Josh Brugman</title>
    <meta title=”description” content=Audio Production & Engineering>
    <link rel="icon" type="image/png" href="/user-favicon.png">
    <link rel="stylesheet" href="user-styles.css">
</head>

<body>
  
    <div id="container">
        {{content}}
    </div>

</body>

<style>
    @import "/reset.css";
    @import "/user-styles.css";

    :root {
        --margin: 0;
        background-color: var(--color-background);
        color: var(--color-foreground);
        text-align: left;
    }
    

    @media screen and (max-width: 300px) {
        :root {
            --margin: .3rem;
        }
    }
</style>

